/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
  padding: 100px 0;
}
.service-list {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.single-service-item {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 7%;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
  transition: .3s;
}
.service-list .col-md-4 {
  padding: 0;
}
.service-list .row {
  margin: 0;
}
.single-service-item h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
    margin-top: 25px;
}
.service-icon {
  font-size: 35px;
  color: #e2e2e2;
    transition: .3s;
    margin-bottom: 10px;
    margin-top: 20px;
}
.single-service-item:hover {
  box-shadow: 0 35px 100px #999;
    cursor: pointer;
}
.single-service-item:hover .service-icon {
    color: #dd4c40;
}