@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
.space-80 {
    height: 80px;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.8;
}

a:hover {
    text-decoration: none;
}

.header-top {
    background-color: #0b0b0b;
}

.header-top,
.header-top a {
    color: #f5f3f3;
}

.map-marker-content {
    margin-top: 7px;
    display: inline-block;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 10px;
}

.social-icons a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 33px;
    border-radius: 50%;
    transition: .4s;
}

.social-icons i.fa {
    padding-right: 0;
    color: #f5f3f3;
}

.social-icons {
    display: inline-block;
    padding-left: 25px;
}

.social-icons a:hover {
    background-color: #fc721e;
    border-color: #fc721e;
}

.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.header-top {
    padding: 13px 0;
}

.site-logo {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #0b0b0b;
    padding: 15px 15px;
    font-weight: 700;
    margin-bottom: 0;
}

.site-logo a {
    color: #333;
}

.mainmenu ul {
    padding: 5px 0;
    margin: 0;
    list-style: none;
}

.mainmenu ul li {
    display: inline-block;
}

.mainmenu ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    color: #333;
    padding: 12px 17px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.mainmenu ul li:hover > a {
    border: 1px solid #fc721e;
}

.header-bottom {
    padding: 18px 0;
}

/* Slider area */

.slider-bg-1{background-image: url(../img/slider-bg-1.jpg);}
.slider-bg-2{background-image: url(../img/slider-bg-2.jpg);}
.slider-bg-3{background-image: url(../img/slider-bg-3.jpg);}

.single-slide-item {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 2;
    font-size: 16px;
    color: #fff;
    line-height: 2;
}

.d-table-call {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item:after {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #050505;
    opacity: .8;
    z-index: -1;
}

.single-slide-item h2 {
    color: #fff;
    font-size: 60px;
}

.single-slide-item p {
    margin: 30px 0;
}

.boxed-btn {
    display: inline-block;
    color: #fff;
    padding: 8px 30px;
    border: 1px solid #fc721e;
    background-color: #fc721e;
    border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.boxed-btn.bordered-btn {
    background-color: transparent;
    border-color: #fff;
}
.slider-buttons a {
    margin-right: 15px;
}
.slider-buttons a:hover {
    color: #fff;
}

/*Slider area Owl Carousel*/

.slider-area .owl-dots div {
    display: inline-block;
    background-color: #fff;
    width: 2px;
    height: 25px;
    margin-right: 8px;
}

.slider-area .owl-dots {
    position: relative;
    left: 20px;
    top: -106px;
    width: 1110px;
    margin: 0 auto;
}

.slider-area .owl-dots.active {
    background-color: red;
    height: 30px;
}

.slider-area .owl-dots div.active {
    background-color: #fc721e;
    height: 30px;
}

/* Service area */

.service-box-bg-1 {background-image: url(../img/service-bg-1.jpg); background-color: #ddd; height: 205px; background-size: cover; background-position: center;}
.service-box-bg-2 {background-image: url(../img/service-bg-2.jpg); background-color: #ddd; height: 205px; background-size: cover; background-position: center;}
.service-box-bg-3 {background-image: url(../img/service-bg-3.jpg); background-color: #ddd; height: 205px; background-size: cover; background-position: center;}

.single-service-box {
    position: relative;
    transition: .3s;
}

.service-box-content {
    border: 1px solid #d1cfcf;
    padding: 25px;
    padding-top: 50px;
}

.service-box-title {
    position: absolute;
    top: 178px;
    width: 100%;
}

.service-box-title h3 {
    font-size: 20px;
    width: 80%;
    color: #fff;
    background-color: #fc721e;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
}

.service-btn {
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
}

.service-btn:hover {
   color: #fc721e;
}

.service-btn i.fa {
    padding-left: 10px;
}

.single-service-box:hover {
    box-shadow: 0 0 13px #333;
}
.padding-bottom-0{
    padding-bottom: 0;
}